.clicker {
    height: 128px;
    width: 128px;
    object-fit: none;
    object-position: -0px -0px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    margin-top: 100px;
    margin-left: 100px;
    background: #f3f3f3;
}
.clicker:active {
	border-left: 2px solid grey;
	border-bottom: 2px solid grey;
	border-top: 2px solid black;
	border-right: 2px solid black;	
	background:#bfbfbf;
}
#clicker, #graphics, #UI {
	float: left;
	display: block;
	margin: 0 auto;
	width: 30%;
}

.button {
    width:100%;
    height:64px;
    float:left;
    display:inline;
    background:gray;
}

.button:hover{
    width:100%;
    float:left;
    height:64px;
    display:inline;
    background:white;
}